/* Mod CSS */

#mods_form * {
    vertical-align: middle;
}

#mods_form {
    z-index: 300;
}


/* Wiki */
#mod_wiki_search_items_table {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
}

.wiki_brCol1, .wiki_brCol2 {
    border-color: #666666;
}

.wiki_bgCol1 {
    background-color: #1A1A1A;
}

.wiki_bgCol2 {
    background-color: #004545;
}

.wiki_bR {
    border-right: none;
}

.wiki_bL {
    border-left: none;
}

.wiki_bT {
    border-top: none;
}

.wiki_pad0 {
    padding: 1px 0px 2px 0px;
}

.wiki_pad1 {
    padding: 9px 0px 11px 0px;
}

.wiki_pad2 {
    padding: 1px 1px 1px 0px;
}

.wiki_base0 {
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
    border-color: inherit;
    background-color: inherit;
    text-align: left;
    box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
}

.wiki_base1 {
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
    border-color: inherit;
    background-color: inherit;
    box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
}

.wiki_base2 {
    position: relative;
    border-color: inherit;
    background-color: inherit;
    box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
}

.wiki_row1 {
    border-color: #FFFFFF;
    background-color: #000000;
    font-weight: bold;
}

.wiki_row2 {
    border-color: #FFFFFF;
    background-color: #001616;
    font-weight: bold;
}

.wiki_tableHolder {
    margin-top: 5px;
    padding-right: 1px;
    width: 100%;
    font-size: 0.8em;
}

.wiki_nameHolder {
    height: 35px;
}

.wiki_name {
    padding-left: 4px;
    /* CSS2 alternative */
    width: 70%;
    /* Requires CSS3 */
    width: calc(100% - 42px);   /* Standard */
        width: -moz-calc(100% - 42px);  /* Firefox */
        width: -webkit-calc(100% - 42px);   /* WebKit */
        width: -o-calc(100% - 42px);    /* Opera */
}

.wiki_img {
    display: inline-block;
    margin: 2px;
    width: 32px;
    height: 32px;
}

.wiki_imgDiv {
    display: inline-block;
    text-align: left;
}

.wiki_nameImg, .wiki_nameText {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    /* CSS2 alternative */
    width: 95%;
    /* Requires CSS3 */
    width: calc(100% - 6px);   /* Standard */
        width: -moz-calc(100% - 6px);  /* Firefox */
        width: -webkit-calc(100% - 6px);   /* WebKit */
        width: -o-calc(100% - 6px);    /* Opera */
}

/*  */ .wiki_name, .wiki_nameDiv, .wiki_nameImg, .wiki_nameText {
    display: inline-block;
    text-align: left;
    margin: auto;
}
/*  */ .wiki_nameImg {
    padding-left: 0px;
    text-align: center;
}

.wiki_f2 {
    font-size: .2em;
}

.wiki_p13 {
    width: 13%;
}

.wiki_p22 {
    width: 22%;
}

.wiki_p65 {
    width: 65%;
}

.wiki_p35 {
    width: 35%;
}

/*	*/ .wiki_p13, .wiki_p22, .wiki_p65, .wiki_p35 {
    border-color: inherit;
    height: 100%;
}

.wiki_h100 {
    height: 100%;
}

.wiki_a1 {
    border-color: #666666;
    background-color: #1A1A1A;
    text-align: center;
}

.wiki_a2 {
    border-color: #666666;
    background-color: #004545;
    text-align: center;
}

.bg_img {
    width: 32px;
    height: 32px;
}

.toolbar_item {
    float: right;
    padding: 0px 14px 10px 0px;
}

/* Exp Table */
.xptable table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    vertical-align: middle;
}

.xptable {
    overflow: hidden;
    border: 1px solid #8C8C8C;
    background: #fff;
    font: normal 12px/150% times, serif;
}

    .xptable table td, .xptable table th {
        padding: 3px 10px;
    }

    .xptable table thead th {
        border-left: 1px solid #A3A3A3;
        background-color: #666666;
        color: #FFF;
        font-weight: bold;
        font-size: 12px;
    }

        .xptable table thead th:first-child {
            border: none;
        }

    .xptable table tbody td {
        border-left: 1px solid #DBDBDB;
        color: #000;
        font-weight: normal;
        font-size: 12px;
    }

    .xptable table tbody .alt td {
        background: #EBEBEB;
        color: #000;
    }

    .xptable table tbody td:first-child {
        border-left: none;
    }

    .xptable table tbody tr:last-child td {
        border-bottom: none;
    }

    .marketpopup{
        position: absolute;
        padding: 4px 10px 4px 10px;
        border: 1px solid #c9c3ba;
        border-bottom: none;
        background-color: #606060;
        color: #FFFFFF;
        text-decoration: none;
        -webkit-text-shadow: #000 1px 1px 1px;
        text-shadow: #000 1px 1px 1px;
        font-size: 13px;
        pointer-events: none;
    }

    .marketpopup table tr td{
        padding: 2px 2px;
    }


#inv_pet_chest {
	position: relative;
	clear: both;
	padding-top: 4px;
}

#inventory.hasPet {
	padding-bottom: 0px;
}

#pet_inv_expand {
	position: relative;
    margin: 0 -4px;
    padding: 2px 4px;
}

#pet_inv_expand.collapsed {
	border-bottom: none;
}

#pet_inv_container {
	position: relative;
}
#pet_inv_container:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

#pet_inv_items{
	position: relative;
    display: block;
    padding: 4px 0;
    margin: 0;
    border-bottom: 1px solid #666;
}

#inv_pet_settings {
	position: relative;
	float: left;
    padding: 4px 0;
}

#inv_pet_level {
	display: inline-block;
    float: left;
}

#inv_checkbox_holder {
	position: relative;
    float: left;
}

#inv_checkbox {
	position: relative;
	color: #cacaca;
	display: inline-block;
	font-size: .8em;
	padding: 2px 0;
}

#shift_click {
	position: relative;
    float: left;
}

#inv_pet_btn_holder {
    position: relative;
    display: inline-block;
    float: right;
    text-align: center;
	max-width: 130px;
}

#pet_inv_load,
#pet_inv_unload {
	font-size: .8em;
    line-height: 14px;
    padding: 2px 4px;
    margin: 3px;
    position: relative;
    display: inline-block;
    color: #FFFFFF;
    background: #333333;
    border: 1px #FFFFFF solid;
    text-align: center;
    word-wrap: break-word;
    word-break: break-word;
    box-sizing: border-box;
}

#pet_inv_load:hover,
#pet_inv_unload:hover{
	background: #666666;
}

#gear_inv_holder {
    z-index: 300;
}
#mods_farming_holder {
    z-index: 300;
}

/* Carets */
.caret-up:before,
.caret-down:before {
    position: absolute;
    right: 0;
    display: inline-block;
    width: 0px;
    height: 0px;
    margin: 6px 8px;
	border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    vertical-align: middle;
    content: "";
}
.caret-up:before {
    border-top: none;
    border-bottom: 4px solid #FFFFFF;
}
.caret-down:before {
    border-top: 4px solid #FFFFFF;
	border-bottom: none;
}
